body {
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  width: 700px;
}

.head {
  width: 200px;
  float: left;
}

.content {
  width: 300px;
  float: right;
}
  
