body {
  font-family: sans-serif;
  background-color: #bfe1ff;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: white;
}

.head {
  width: 200px;
  float: left;
  background-color: white;
}

.content {
  width: 500px;
  float: left;
  background-color: white;
}
  
