body {
  font-family: sans-serif;
  background-color: #bfe1ff;
 /* margin: 0 !important;
  padding: 0 !important; */
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: none;
  margin-top: 0;
}

.head {
  float: left;
  background-color: white;
  padding: 50px;
}

.content {
  float: left;
  background-color: white;
  padding: 50px;
}
  
@media screen and (min-width: 900px;) {
  .wrapper {
    width: 850px;
  }
  .head {
    width: 150px;
  }
  .content {
    width: 500px;
  }
} 

@media screen and (max-width: 899px;) {
  .wrapper {
    width: 90%;
  }
  .head {
    width: 150px;
  }
  .content {
    width: 100%;
  }
} 
 
